<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoncheriaToñita.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LoncheriaToñita.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value>usuario</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUSIT6rNnjkmWNdlwZJw7hwAAAAACAAAAAAAQZgAAAAEAACAAAAAXjLYqimM05n2LQJYbRJ9jK/kWosBnHLF3qMOPkmQFCQAAAAAOgAAAAAIAACAAAABPus4K7GR4vxjgTpQlzEcsAx6O4y2X/01RmUFoaJ+o6SAAAADdwlUNmA1o2msnqt+je84cI9n3spvbnMpDdhXAnl6v8UAAAACdGRE7U9Ha52Hq+0UBi/ho2VwfYcC7cPffivxQI10zGHLccPCYWy/+RZYTXBgyqYna2LLXBKeVwxm5RKZUXRGY</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBpassword" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUSIT6rNnjkmWNdlwZJw7hwAAAAACAAAAAAAQZgAAAAEAACAAAAAXjLYqimM05n2LQJYbRJ9jK/kWosBnHLF3qMOPkmQFCQAAAAAOgAAAAAIAACAAAABPus4K7GR4vxjgTpQlzEcsAx6O4y2X/01RmUFoaJ+o6SAAAADdwlUNmA1o2msnqt+je84cI9n3spvbnMpDdhXAnl6v8UAAAACdGRE7U9Ha52Hq+0UBi/ho2VwfYcC7cPffivxQI10zGHLccPCYWy/+RZYTXBgyqYna2LLXBKeVwxm5RKZUXRGY</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>punto_de_venta</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>postgres</value>
            </setting>
        </LoncheriaToñita.Properties.Settings>
    </userSettings>
</configuration>